* {
  box-sizing: border-box;
}
.input-wrapper {
  position: relative;
  display: flex;
}
#input {
}
dialog {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

dialog .suggestions {
  border: 3px solid blue;

  width: 100px;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  margin-left: 0;
}
