.rateWidget-container {
  background-color: pink;
  display: flex;
  flex-direction: row;

  button {
    padding: 0;
    margin: 0;
    border: none;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  svg.selected {
    fill: black;
  }
}
